<div class="container">
  <div class="form-wrapper" style="width: 90%; margin: 0 auto;">
    <div id='bike-booking-dates' data-unavailable="<%= @bike.unavailable_dates.to_json %>">
      <%= simple_form_for([@bike, @booking]) do |f| %>
        <%= f.input :start_date, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
        <%= f.input :end_date, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: false, wrapper_html: { class: "inline_field_wrapper" } %>
        <%= f.submit "Book!", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
