<div class="container" style="width: 800px;">
  <h2>Pending Booking</h2>
  <hr>
  <div class="single-booking">
    <div class="single-info">
      <h2><%= @booking.bike.name %></h2>

      <p>Pickup: <%= @booking.start_date.strftime("%-d %b %Y") %></p>
      <p>Dropoff: <%= @booking.end_date.strftime("%-d %b %Y") %></p>
      <p><%= @booking.bike.price %>€ / day</p>
      <p>Size: <%= @booking.bike.size %></p>
      <p>Location: <%= @booking.bike.location %></p>
    </div>
    <div class="bike-picture">
      <%= link_to image_tag(@booking.bike.picture), bike_path(@booking.bike) %>
    </div>
    <%= link_to ('<i class="fas fa-edit"></i> Edit').html_safe, edit_bike_path(@bike), class: "btn btn-dark m-3" %>
    <%= link_to ('<i class="fas fa-trash"></i> Delete').html_safe, bike_path(@bike), class: "btn btn-dark m-3" %>
  </div>
  <br>
  <br>
  <%= link_to 'See all my upcoming bookings', dashboard_path, class: "booking-button" %>
</div>

