<div class="title-index">
  <h2>My Bookings</h2>
</div>

<div class="cards-container">
  <% @bookings.each do |b| %>
      <div class="card">
        <div class="date">
          <h5>Pickup: <%= b.start_date.strftime("%-d %b %Y") %> </h5>
          <h5> Dropoff: <%= b.end_date.strftime("%-d %b %Y") %></h5>
        </div>
      <!-- the below code allows for the bike picture to be a link to the bike show page -->
      <%= link_to image_tag(b.bike.picture), bike_path(b.bike) %>
        <div class="card-name-price">
          <p style="text-align: center; font-weight: bold;"><%= b.bike.name %></p>
          <hr>
          <p><%= b.bike.price %>€ / day</p>
          <p>Size: <%= b.bike.size %></p>
          <p>Location: <%= b.bike.location %></p>
        </div>
        <div>
        <%= link_to ('<i class="fas fa-edit"></i> Edit').html_safe, edit_bike_booking_path(b.bike, b), class: "btn-edit-delete" %>
        <%= link_to ('<i class="fas fa-trash"></i> Cancel').html_safe, booking_path(b), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-edit-delete" %>
        </div>
      </div>
    <% end %>
</div>

