<div class="title-index">
  <h1>Bikes around the world</h1>
  <p>Choose your next eco-friendly two-wheeler</p>
</div>

<div class="cards-container">
  <% @bikes.each do |bike| %>
    <div class="card">

      <%= link_to cl_image_tag bike.picture, brightness: 30, radius: 20, width: 300, height: 300, crop: :thumb, bike_path(bike) %>
      <div class="card-name-price">
        <p style="text-align: center; font-weight: bold;"><%= bike.name %></p>
        <hr>
        <p>Price per day: <%= bike.price %>€</p>
        <p>Size: <%= bike.size %></p>
        <p>Location: <%= bike.location %></p>
      </div>
    </div>
  <% end %>
</div>
