<div class="title-index">

  <% if !@bikes.first %>
    <h1>Sorry, there are no bikes in <%= params[:query].capitalize %> yet...</h1>
  <% elsif params[:query].present? %>
    <h1>Bikes in <%= params[:query].split.first.capitalize %></h1>
  <% else %>
    <h1>Bikes around the world</h1>
  <% end %>
  <p>Choose your next eco-friendly two-wheeler</p>
</div>

<div class="search-index" style="width: 33%; margin-left: 18px;">
  <%= render "shared/searchIndex" %>
</div>



<div class="cards-container">
  <% @bikes.each do |bike| %>
    <div class="card">

        <%= link_to(bike_path(bike)) do %>
        <%= cl_image_tag bike.picture.key, brightness: 30, radius: 20, width: 300, height: 300, crop: :thumb %>
        <% end %>

      <div class="card-name-price">
        <p style="text-align: center; font-weight: bold;"><%= bike.name %></p>
        <hr>
        <p>Price: <strong><%= bike.price %></strong> <i class="fas fa-euro-sign"></i> / day</p>
        <p>Category: <%= bike.category %></p>
        <p>Size: <%= bike.size %></p>
        <p><i class="fas fa-map-marker-alt"></i> <%= bike.location %></p>
      </div>
    </div>
  <% end %>
</div>

