
<div class="title-index">
  <% if !@bikes.first %>
    <h1>Sorry, there are no bikes in <%= @search.capitalize %> yet...</h1>
  <% else %>
    <h1>Bikes in <%= @search.capitalize %></h1>
    <p>Choose your next eco-friendly two-wheeler</p>
  <% end %>
</div>

<div class="search-index" style="width: 33%; margin-left: 18px;">
    <%= render "shared/searchIndex" %>
</div>

<div class="cards-container">
  <% @bikes.each do |bike| %>
    <div class="card">
      <!-- the below code allows for the bike picture to be a link to the bike show page -->
      <%= link_to image_tag(bike.picture), bike_path(bike) %>
      <div class="card-name-price">
        <p style="text-align: center; font-weight: bold;"><%= bike.name %></p>
        <hr>
        <p>Price: <strong><%= bike.price %></strong> <i class="fas fa-euro-sign"></i> / day</p>
        <p>Size: <%= bike.size %></p>
        <p><i class="fas fa-map-marker-alt"></i> <%= bike.location %></p>
      </div>
    </div>
  <% end %>
</div>

