<div class="show-container">
  <div class="row justify-content-center">
    <div class="photo-and-map col-xl-8">
      <h2><%= @bike.name %></h2>
      <br>
      <div class="show-foto-map-container">
        <div class="card-show" style="background-image: url(<%= cl_image_path @bike.picture.key, height: 300, width: 400, crop: :fill %>)">
        </div>
          <div>
            <div id="map"
              style="width: 100%; height: 400px;"
              data-marker="<%= @marker.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="info-booking row justify-content-around">
    <div class="col-6">
      <div>
        <h5>About</h5>
        <p><%= @bike.description %></p>
        <p class="card-text"><strong>Category</strong>: <%= @bike.category %>, <strong>size</strong>: <%= @bike.size %>.</p>
      </div>
    </div>
    <div class="col-6">
        <div class="card-price">
          <h5 class="card-title"><strong>€<%= @bike.price %></strong> / day</h5>
          <%= render "bookings/booking_form" %>
        </div>
    </div>
  </div>
    <div class="reviews">
      <br>
      <%= pluralize @bike.reviews.length, "review" %>
      <hr>
        <div class="review-container">
          <%= render @bike.reviews %>
          <% if current_user.bookings.where(bike: @bike).any? %>
          <% end %>
          <br>
          <p style="margin-left: 17%;">Leave a review</p>
        <%= render "reviews/form" %>
        </div>
    </div>
</div>
